<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ziko</property>
        <property name="connection.username">root</property>
        <property name="connection.password">KAOUKABI</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
		<property name="connection.pool_size">100</property>
        <mapping class ="com.omnishore.entities.Compte" />
        <mapping class ="com.omnishore.entities.Entite" />
        <mapping class ="com.omnishore.entities.Collaborateur" />
        <mapping class ="com.omnishore.entities.Fonction" />

    </session-factory>
</hibernate-configuration>